# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\George Brown\Semester 6\COMP3078 - CAPSTONE PROJECT II\Project\CapstoneProject\CapstoneProject\CapstoneProject-main\capstoneProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
